@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.sectionOne{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.info{
    width: 350px;
}

.info :is(h1){
    font-family:  "Madimi One", sans-serif;
    font-size:2rem;
    padding: 10px;
}

.info :is(p){
    padding: 10px;
    font-family:  "Madimi One", sans-serif;
}

.info :is(button){
    cursor:grab;
    font-weight: 100;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    background-color: rgb(186, 81, 218);
    font-family:  "Madimi One", sans-serif;
}
.card{
    display: flex;
    justify-content: space-around;
}

.p1{
    padding: 10px;
}

.sectionTwo{
    text-align: center;
    padding: 10px;
}

.sectionTwo h1{
    padding: 20px;
    font-family:  "Madimi One", sans-serif;
    font-size: 2rem;
}

.sectionTwo button{
    padding: 5px;
    color: whitesmoke;
    background-color: rgb(223, 118, 226);
    margin-top: 10px;
    cursor:grab;
    border-radius: 5px;
}

.sectionTwo p{
    padding: 10px;
    margin-top: 10px;
    font-family: V "Madimi One", sans-serif;
    font-size: 1rem;
}
